
<section class="cLightBackground" style="padding: 60px; border-top: 1px solid #ddd;">
   <div class="container">
     
    
      <div class="row">
         <div class="col-sm-12 col-md-2 col-lg-2">&nbsp;</div>
         <div class="col-sm-12 col-md-2 col-lg-2">
          
          <div class="cFooterLinks">
            <h4>Documentation</h4>
            <ul>
              <li>
                <a href="/docs/getting-started/quick-start-guide/">Getting Started</a>
              </li>
               <li>
                <a target="_blank" href="https://github.com/openchoreo/openchoreo/tree/main/samples">Tutorials</a>
              </li>
               <li>
                <a href="/docs/core-concepts/concepts-and-abstractions/">Core Concepts</a>
              </li>
            </ul>
          </div>
         </div>
         <div class="col-sm-12 col-md-2 col-lg-2">
            <div class="cFooterLinks">
            <h4>Community</h4>
            <ul>
              <li>
                <a href="https://discord.com/invite/asqDFC8suT">Discord</a>
              </li>
            </ul>
          </div>
         </div>
         <div class="col-sm-12 col-md-2 col-lg-2">
           <div class="cFooterLinks">
            <h4>More</h4>
            <ul>
              <li>
                <a href="https://github.com/openchoreo/openchoreo">Github</a>
              </li>
            </ul>
          </div>
         </div>
         <div class="col-sm-12 col-md-4 col-lg-4">
           <p class="cFooterContent">Made with <span class="cHeart">&#9829;</span> by Choreo @ WSO2</p>
         </div>
      </div>
   </div>
</section>






<footer class="text-center mt-5" style="border-top: 1px solid #ddd; padding-top: 40px; margin-top: 0 !important;">

  <p>© 2025 The OpenChoreo Authors | Documentation Distributed under CC BY 4.0</p>
</footer>