{% assign next_level = include.level | plus: 1 %}
{% for item in include.items %}
  {% assign collapse_id = item.title | slugify | append: '-' | append: forloop.index0 | append: '-' | append: include.level %}

  {% if item.children %}
    <div class="accordion" id="accordion-{{ collapse_id }}">
      <div class="accordion-item border-0">
        <h2 class="accordion-header" id="heading-{{ collapse_id }}">
          <button class="accordion-button collapsed bg-transparent py-1 px-2"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapse-{{ collapse_id }}"
                  aria-expanded="false"
                  aria-controls="collapse-{{ collapse_id }}">
            {{ item.title }}
          </button>
        </h2>
        <div id="collapse-{{ collapse_id }}"
             class="accordion-collapse collapse"
             aria-labelledby="heading-{{ collapse_id }}">
          <div class="accordion-body py-0 ps-3">
            {% include nav-recursive.html items=item.children level=next_level %}
          </div>
        </div>
      </div>
    </div>
  {% else %}
    <a href="{{ item.url }}" class="d-block ps-{{ next_level }} py-1 nav-link">{{ item.title }}</a>
  {% endif %}
{% endfor %}
