<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>OpenChoreo | The IDP you can start using today</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="icon" type="image/x-icon" href="/img/favicon.ico">
  <meta name="description" content="The IDP you can start using today ">
  <meta name="robots" content="index, follow">
  <link rel="canonical" href="https://openchoreo.dev/">
  <meta property="og:title" content="OpenChoreo | The IDP you can start using today">
  <meta property="og:description" content="A complete, open-source Internal Developer Platform - ready to use from day one, built to integrate with your stack. ">
  <meta property="og:image" content="https://openchoreo.dev/img/OpenChoreo-sm.png">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="OpenChoreo | The IDP you can start using today">
  <meta name="twitter:description" content="A complete, open-source Internal Developer Platform - ready to use from day one, built to integrate with your stack.">
  <meta name="twitter:image" content="https://openchoreo.dev/img/OpenChoreo-sm.png">

  
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{{ '/css/bootstrap.min.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/css/openchoreo.css' | relative_url }}">


  
</head>
<body>
  {% include nav.html %}

    {{ content }}

  {% include footer.html %}
  <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script> -->
   

 


{% include scripts.html %}

<script>
   $(document).ready(function () {
      $('.tooltip-container').each(function () {
        const $container = $(this);
        const $target = $container.find('.tooltip-target');
        const $tooltip = $container.find('.custom-tooltip');

        $target.on('mouseenter', function () {
          $tooltip.fadeIn(150);
        });

        $target.on('mouseleave', function () {
          $tooltip.fadeOut(150);
        });
      });
    });
</script>

</body>
</html>